.container2{
    text-align: center;
    position: relative;
} 
input{
    width: 100%;
    height: 34px;
    padding-left: 5px;
    box-sizing: border-box;
}
input[type='submit']{
    width: 40%;
    margin-top: 10px;
    margin-left: 30%;
    cursor: pointer;
}
.container2{
    text-align: center;
    scroll-snap-type: mandatory; 
} 
input{
    width: 100%;
    height: 34px;
    padding-left: 5px;
    box-sizing: border-box;
}
.contato{
    padding: 10px;
    width: 60%;
    color: #fff;
    border: #fff solid 2px;
    background-color: rgba(53, 53, 53, 0.8);
    margin-top: 27px;
    margin-left: 200px;
    scroll-snap-type: mandatory;
}   

.formulario>p{
    align-content: center;
    text-align: center;
}