* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

html,
body {
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1em;
    box-sizing: border-box;
    background-image: url(../imgs/barbearia.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center 60%;
}

hr {
    color: black;
}

.img>a>img {
    position: fixed;
    float: left;
    width: 120px;
    margin-left: 50px;
    background-color: wheat;
    border: solid 3px;
    animation-name: imgGetBigger;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    z-index: 1;
}

.img>a>img:hover {
    margin-top: 20px;
    width: 150px;
    transition: 1s;
    border: solid #ffffff 3px;
}

nav {
    width: 100%;
    height: 160px;
    background-color: rgba(53, 53, 53, 0.8);
    color: #FFFFFF;
    align-items: center;
    border-bottom: #FFFFFF solid 2px;
    display: flex;
    position: fixed;
    z-index: 0;
    top: 0;
    /* Fixa a nav no topo da janela */
    left: 0;
    /* Fixa a nav no canto esquerdo da janela */
}


#slogan {
    display: block;
    margin: auto;
    height: 100px;
    margin-bottom: 50px;
    font-size: 30px;
    pointer-events: none;

}

#slogan h1 {
    text-align: center;
    border-bottom: 3px solid #FFFFFF;
    animation-name: headerH1-moverParaDireita;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

#slogan p {
    animation-name: headerH2-moverParaEsquerda;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    border-bottom: #FFFFFF solid 3px;
}

.menu {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    position: fixed;
    /* Mantém a posição fixa */
    width: 100%;
    /* Garante que o contêiner ocupe a largura total da tela */
    top: 115px;/
}

.menu li {
    display: inline-block;
    margin-right: 30px;
}

.menu a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 19px;
}

.titulo {
    color: #FFFFFF;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
    font-weight: bold;
}

header {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 20%;
    position: relative;
    background-attachment: fixed;
    margin-top: 18%;
    display: block;
}

header h1 {
    position: absolute;
    text-align: center;
    color: #fff;
    background-color: rgba(53, 53, 53, 0.8);
    border: #FFFFFF solid 2px;
    top: 35%;
    margin-left: 30%;
    margin-bottom: 40px;
    font-size: 2.5em;
    animation-name: headerH1-moverParaDireita;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

header h2 {
    position: absolute;
    color: #fff;
    border: #FFFFFF solid 2px;
    background-color: rgba(53, 53, 53, 0.8);
    text-align: center;
    color: #fff;
    margin-left: 33%;
    margin-top: 80px;
    font-size: 2.5em;
    font-weight: 100;
    top: 45%;
    animation-name: headerH2-moverParaEsquerda;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

header h2:hover {
    color: rgb(255, 255, 255);
    border: 5px solid #ffffff;
    transform: scale(1);
    transition: 0.1s;
}


#sobre {
    display: block;
    margin: auto;
    width: 80%;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}
